{% extends "layout.html" %}

{% block content %}
  <div>
    <h2>Welcome {{ name }}<h2>
    <h3>{{ stream }}</h3>
  </div>

  <div>
    <form action = "{{ url_for('home') }}" method=post>

      <table>
	<tr>
	  <th>  S1 & S2	</th>
	  <th>  Credits </th>
	  <th>  Grade </th>
	</tr>
	<tr>
	  <th> {{ syllabus['s1_s2']['101'] }} </th>
	  <td> {{ syllabus['s1_s2']['c101'] }} </td>
	  <td>
	    <select name = 'g_101'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s1_s2']['102'] }} </th>
	  <td> {{ syllabus['s1_s2']['c102'] }} </td>
	  <td>
	    <select name = 'g_102'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s1_s2']['103'] }} </th>
	  <td> {{ syllabus['s1_s2']['c103'] }} </td>
	  <td>
	    <select name = 'g_103'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s1_s2']['103P'] }} </th>
	  <td> {{ syllabus['s1_s2']['c103P'] }} </td>
	  <td>
	    <select name = 'g_103P'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s1_s2']['104'] }} </th>
	  <td> {{ syllabus['s1_s2']['c104'] }} </td>
	  <td>
	    <select name = 'g_104'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s1_s2']['104P'] }} </th>
	  <td> {{ syllabus['s1_s2']['c104P'] }} </td>
	  <td>
	    <select name = 'g_104P'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s1_s2']['105'] }} </th>
	  <td> {{ syllabus['s1_s2']['c105'] }} </td>
	  <td>
	    <select name = 'g_105'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s1_s2']['106'] }} </th>
	  <td> {{ syllabus['s1_s2']['c106'] }} </td>
	  <td>
	    <select name = 'g_106'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s1_s2']['107'] }} </th>
	  <td> {{ syllabus['s1_s2']['c107'] }} </td>
	  <td>
	    <select name = 'g_107'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s1_s2']['108'] }} </th>
	  <td> {{ syllabus['s1_s2']['c108'] }} </td>
	  <td>
	    <select name = 'g_108'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s1_s2']['109P'] }} </th>
	  <td> {{ syllabus['s1_s2']['c109P'] }} </td>
	  <td>
	    <select name = 'g_109P'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s1_s2']['110AP'] }} </th>
	  <td> {{ syllabus['s1_s2']['c110AP'] }} </td>
	  <td>
	    <select name = 'g_110AP'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s1_s2']['110BP'] }} </th>
	  <td> {{ syllabus['s1_s2']['c110BP'] }} </td>
	  <td>
	    <select name = 'g_110BP'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
      </table>

      <table>
	<tr>
	  <th>  S3	</th>
	  <th>  Credits </th>
	  <th>  Grade </th>
	</tr>
	<tr>
	  <th> {{ syllabus['s3']['301'] }} </th>
	  <td> {{ syllabus['s3']['c301'] }} </td>
	  <td>
	    <select name = 'g_301'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s3']['302'] }} </th>
	  <td> {{ syllabus['s3']['c302'] }} </td>
	  <td>
	    <select name = 'g_302'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s3']['303'] }} </th>
	  <td> {{ syllabus['s3']['c303'] }} </td>
	  <td>
	    <select name = 'g_303'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s3']['304'] }} </th>
	  <td> {{ syllabus['s3']['c304'] }} </td>
	  <td>
	    <select name = 'g_304'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s3']['305'] }} </th>
	  <td> {{ syllabus['s3']['c305'] }} </td>
	  <td>
	    <select name = 'g_305'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s3']['306'] }} </th>
	  <td> {{ syllabus['s3']['c306'] }} </td>
	  <td>
	    <select name = 'g_306'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s3']['307P'] }} </th>
	  <td> {{ syllabus['s3']['c307P'] }} </td>
	  <td>
	    <select name = 'g_307P'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s3']['308P'] }} </th>
	  <td> {{ syllabus['s3']['c308P'] }} </td>
	  <td>
	    <select name = 'g_308P'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
      </table>

      <table>
	<tr>
	  <th>  S4	</th>
	  <th>  Credits </th>
	  <th>  Grade </th>
	</tr>
	<tr>
	  <th> {{ syllabus['s4']['401'] }} </th>
	  <td> {{ syllabus['s4']['c401'] }} </td>
	  <td>
	    <select name = 'g_401'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s4']['402'] }} </th>
	  <td> {{ syllabus['s4']['c402'] }} </td>
	  <td>
	    <select name = 'g_402'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s4']['403'] }} </th>
	  <td> {{ syllabus['s4']['c403'] }} </td>
	  <td>
	    <select name = 'g_403'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s4']['404'] }} </th>
	  <td> {{ syllabus['s4']['c404'] }} </td>
	  <td>
	    <select name = 'g_404'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s4']['405'] }} </th>
	  <td> {{ syllabus['s4']['c405'] }} </td>
	  <td>
	    <select name = 'g_405'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s4']['406'] }} </th>
	  <td> {{ syllabus['s4']['c406'] }} </td>
	  <td>
	    <select name = 'g_406'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s4']['407P'] }} </th>
	  <td> {{ syllabus['s4']['c407P'] }} </td>
	  <td>
	    <select name = 'g_407P'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s4']['408P'] }} </th>
	  <td> {{ syllabus['s4']['c408P'] }} </td>
	  <td>
	    <select name = 'g_408P'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
      </table>

      <table>
	<tr>
	  <th>  S5	</th>
	  <th>  Credits </th>
	  <th>  Grade </th>
	</tr>
	<tr>
	  <th> {{ syllabus['s5']['501'] }} </th>
	  <td> {{ syllabus['s5']['c501'] }} </td>
	  <td>
	    <select name = 'g_501'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s5']['502'] }} </th>
	  <td> {{ syllabus['s5']['c502'] }} </td>
	  <td>
	    <select name = 'g_502'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s5']['503'] }} </th>
	  <td> {{ syllabus['s5']['c503'] }} </td>
	  <td>
	    <select name = 'g_503'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s5']['504'] }} </th>
	  <td> {{ syllabus['s5']['c504'] }} </td>
	  <td>
	    <select name = 'g_504'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s5']['505'] }} </th>
	  <td> {{ syllabus['s5']['c505'] }} </td>
	  <td>
	    <select name = 'g_505'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s5']['506'] }} </th>
	  <td> {{ syllabus['s5']['c506'] }} </td>
	  <td>
	    <select name = 'g_506'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s5']['507P'] }} </th>
	  <td> {{ syllabus['s5']['c507P'] }} </td>
	  <td>
	    <select name = 'g_507P'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s5']['508P'] }} </th>
	  <td> {{ syllabus['s5']['c508P'] }} </td>
	  <td>
	    <select name = 'g_508P'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
      </table>

      <table>
	<tr>
	  <th>  S6	</th>
	  <th>  Credits </th>
	  <th>  Grade </th>
	</tr>
	<tr>
	  <th> {{ syllabus['s6']['601'] }} </th>
	  <td> {{ syllabus['s6']['c601'] }} </td>
	  <td>
	    <select name = 'g_601'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s6']['602'] }} </th>
	  <td> {{ syllabus['s6']['c602'] }} </td>
	  <td>
	    <select name = 'g_602'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s6']['603'] }} </th>
	  <td> {{ syllabus['s6']['c603'] }} </td>
	  <td>
	    <select name = 'g_603'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s6']['604'] }} </th>
	  <td> {{ syllabus['s6']['c604'] }} </td>
	  <td>
	    <select name = 'g_604'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s6']['605'] }} </th>
	  <td> {{ syllabus['s6']['c605'] }} </td>
	  <td>
	    <select name = 'g_605'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s6']['L01'] }} </th>
	  <td> {{ syllabus['s6']['cL01'] }} </td>
	  <td>
	    <select name = 'g_L01'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s6']['607P'] }} </th>
	  <td> {{ syllabus['s6']['c607P'] }} </td>
	  <td>
	    <select name = 'g_607P'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s6']['608P'] }} </th>
	  <td> {{ syllabus['s6']['c608P'] }} </td>
	  <td>
	    <select name = 'g_608P'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
      </table>

      <table>
	<tr>
	  <th>  S7	</th>
	  <th>  Credits </th>
	  <th>  Grade </th>
	</tr>
	<tr>
	  <th> {{ syllabus['s7']['701'] }} </th>
	  <td> {{ syllabus['s7']['c701'] }} </td>
	  <td>
	    <select name = 'g_701'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s7']['702'] }} </th>
	  <td> {{ syllabus['s7']['c702'] }} </td>
	  <td>
	    <select name = 'g_702'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s7']['703'] }} </th>
	  <td> {{ syllabus['s7']['c703'] }} </td>
	  <td>
	    <select name = 'g_703'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s7']['704'] }} </th>
	  <td> {{ syllabus['s7']['c704'] }} </td>
	  <td>
	    <select name = 'g_704'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s7']['L02'] }} </th>
	  <td> {{ syllabus['s7']['cL02'] }} </td>
	  <td>
	    <select name = 'g_L02'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s7']['L03'] }} </th>
	  <td> {{ syllabus['s7']['cL03'] }} </td>
	  <td>
	    <select name = 'g_L03'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s7']['707P'] }} </th>
	  <td> {{ syllabus['s7']['c707P'] }} </td>
	  <td>
	    <select name = 'g_707P'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s7']['708P'] }} </th>
	  <td> {{ syllabus['s7']['c708P'] }} </td>
	  <td>
	    <select name = 'g_708P'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s7']['709P'] }} </th>
	  <td> {{ syllabus['s7']['c709P'] }} </td>
	  <td>
	    <select name = 'g_709P'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
      </table>

      <table>
	<tr>
	  <th>  S8	</th>
	  <th>  Credits </th>
	  <th>  Grade </th>
	</tr>
	<tr>
	  <th> {{ syllabus['s8']['801'] }} </th>
	  <td> {{ syllabus['s8']['c801'] }} </td>
	  <td>
	    <select name = 'g_801'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s8']['802'] }} </th>
	  <td> {{ syllabus['s8']['c802'] }} </td>
	  <td>
	    <select name = 'g_802'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s8']['L04'] }} </th>
	  <td> {{ syllabus['s8']['cL04'] }} </td>
	  <td>
	    <select name = 'g_L04'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s8']['L05'] }} </th>
	  <td> {{ syllabus['s8']['cL05'] }} </td>
	  <td>
	    <select name = 'g_L05'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s8']['805P'] }} </th>
	  <td> {{ syllabus['s8']['c805P'] }} </td>
	  <td>
	    <select name = 'g_805P'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s8']['806P'] }} </th>
	  <td> {{ syllabus['s8']['c806P'] }} </td>
	  <td>
	    <select name = 'g_806P'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th> {{ syllabus['s8']['807P'] }} </th>
	  <td> {{ syllabus['s8']['c807P'] }} </td>
	  <td>
	    <select name = 'g_807P'>
	      {% for grade in grades %}
	         <option value = {{grades[grade]}}> {{ grade }} </option>
	      {% endfor  %}
	    </select>
	  </td>
	</tr>
      </table>

      {{ calc.submit }}
    </form>
  </div>

{% endblock %}
