{% extends "layout.html" %}

{% block content %}

  <div>
    <h2>Welcome to CGPA Calculator<h2>
  </div>

   {% for message in form.name.errors %}
      <div class="flash">{{ message }}</div>
   {% endfor %}
   {% if form.errors.stream %}
      <div class="flash">{{ form.errors['stream'] }}</div>
   {% endif %}

   <form action="{{ url_for('home') }}" method=POST>

     {{ form.name.label }}
     {{ form.name }}
     
     <label for="stream">Stream</label>
     <select name='stream'>
       {% for stream in streams %}
          <option value={{ stream }}> {{ streams[stream] }} </option>
       {% endfor %}
     </select>

     {{ form.submit }}
   </form>

{% endblock %}
