<!DOCTYPE html>
<html>

  <head>
    <title>CGPA Calculator</title>
    <strong>
      <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    </strong>
  </head>

  <body>   
    <header>
      <div>
        <h1>CGPA Calculator</h1>
	<strong><nav>
	    <ul>
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('about') }}">About</a></li>
	      <li><a href="{{ url_for('contact') }}">Contact</a></li>
	    </ul>
	</nav></strong>
      </div>
    </header> 
     
    <div>
      {% block content %}
      {% endblock %}
    </div>
  </body>

</html>
